
services:
  controller:
    build:
      context: ./mininet
      dockerfile: Dockerfile
    container_name: network-v2
    networks:
      mi-red:
        ipv4_address: 172.20.0.10
    stdin_open: true
    tty: true
    privileged: true

  mininet:
    build:
      context: ./opendaylight
      dockerfile: Dockerfile
    container_name: controller-v2
    networks:
      mi-red:
        ipv4_address: 172.20.0.11
    ports:
      - "6633:6633"
      - "6653:6653"
      - "8080:8080"
      - "8181:8181"

networks:
  mi-red:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
          gateway: 172.20.0.1
